body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#232020
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

container {
  margin-top: 10
}

h3{
  display: 'flex';
  justify-content: "center";
  align-items :  'center';
  background: '#90030B';
  color: '#fff';
  padding: 20
} 


*{
  margin: 0;
  padding:0;
}

btn  {
       margin-top: 10;
  margin-bottom: 20;
  color:"white";
  background: '#90030B';
}



/*makes the choose file button disapper*/
::-webkit-file-upload-button {
   display: none;
}

input[type='file'] {
  color: transparent;
}